:root {
  --grid-gap: 10px; }

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--grid-gap) * -1) 0 0 calc(var(--grid-gap) * -1); }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%; }

.col--sm-1 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 8.33%;
  max-width: 8.33%; }

.col--sm-2 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 16.66%;
  max-width: 16.66%; }

.col--sm-3 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%; }

.col--sm-4 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 33.33%;
  max-width: 33.33%; }

.col--sm-5 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 41.66%;
  max-width: 41.66%; }

.col--sm-6 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%; }

.col--sm-7 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 58.33%;
  max-width: 58.33%; }

.col--sm-8 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 66.66%;
  max-width: 66.66%; }

.col--sm-9 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%; }

.col--sm-10 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 83.33%;
  max-width: 83.33%; }

.col--sm-11 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 91.66%;
  max-width: 91.66%; }

.col--sm-12 {
  padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
  background-clip: content-box;
  background-color: red;
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%; }

@media only screen and (min-width: 720px) {
  .col--md-1 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 8.33%;
    max-width: 8.33%; }

  .col--md-2 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 16.66%;
    max-width: 16.66%; }

  .col--md-3 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%; }

  .col--md-4 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 33.33%;
    max-width: 33.33%; }

  .col--md-5 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 41.66%;
    max-width: 41.66%; }

  .col--md-6 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%; }

  .col--md-7 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 58.33%;
    max-width: 58.33%; }

  .col--md-8 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 66.66%;
    max-width: 66.66%; }

  .col--md-9 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%; }

  .col--md-10 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 83.33%;
    max-width: 83.33%; }

  .col--md-11 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 91.66%;
    max-width: 91.66%; }

  .col--md-12 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: blue;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%; }

  .m-md-t-1 {
    margin-top: 0.1 rem; }

  .m-md-t-2 {
    margin-top: 0.2 rem; }

  .m-md-t-3 {
    margin-top: 0.3 rem; }

  .m-md-t-4 {
    margin-top: 0.4 rem; }

  .m-md-t-5 {
    margin-top: 0.5 rem; }

  .m-md-t-6 {
    margin-top: 0.6 rem; }

  .m-md-t-7 {
    margin-top: 0.7 rem; }

  .m-md-t-8 {
    margin-top: 0.8 rem; }

  .m-md-t-9 {
    margin-top: 0.9 rem; }

  .m-md-t-10 {
    margin-top: 1 rem; }

  .m-md-b-1 {
    margin-bottom: 0.1 rem; }

  .m-md-b-2 {
    margin-bottom: 0.2 rem; }

  .m-md-b-3 {
    margin-bottom: 0.3 rem; }

  .m-md-b-4 {
    margin-bottom: 0.4 rem; }

  .m-md-b-5 {
    margin-bottom: 0.5 rem; }

  .m-md-b-6 {
    margin-bottom: 0.6 rem; }

  .m-md-b-7 {
    margin-bottom: 0.7 rem; }

  .m-md-b-8 {
    margin-bottom: 0.8 rem; }

  .m-md-b-9 {
    margin-bottom: 0.9 rem; }

  .m-md-b-10 {
    margin-bottom: 1 rem; }

  .m-md-l-1 {
    margin-left: 0.1 rem; }

  .m-md-l-2 {
    margin-left: 0.2 rem; }

  .m-md-l-3 {
    margin-left: 0.3 rem; }

  .m-md-l-4 {
    margin-left: 0.4 rem; }

  .m-md-l-5 {
    margin-left: 0.5 rem; }

  .m-md-l-6 {
    margin-left: 0.6 rem; }

  .m-md-l-7 {
    margin-left: 0.7 rem; }

  .m-md-l-8 {
    margin-left: 0.8 rem; }

  .m-md-l-9 {
    margin-left: 0.9 rem; }

  .m-md-l-10 {
    margin-left: 1 rem; }

  .m-md-r-1 {
    margin-right: 0.1 rem; }

  .m-md-r-2 {
    margin-right: 0.2 rem; }

  .m-md-r-3 {
    margin-right: 0.3 rem; }

  .m-md-r-4 {
    margin-right: 0.4 rem; }

  .m-md-r-5 {
    margin-right: 0.5 rem; }

  .m-md-r-6 {
    margin-right: 0.6 rem; }

  .m-md-r-7 {
    margin-right: 0.7 rem; }

  .m-md-r-8 {
    margin-right: 0.8 rem; }

  .m-md-r-9 {
    margin-right: 0.9 rem; }

  .m-md-r-10 {
    margin-right: 1 rem; } }
@media only screen and (min-width: 1024px) {
  .col--lg-1 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 8.33%;
    max-width: 8.33%; }

  .col--lg-2 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 16.66%;
    max-width: 16.66%; }

  .col--lg-3 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%; }

  .col--lg-4 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 33.33%;
    max-width: 33.33%; }

  .col--lg-5 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 41.66%;
    max-width: 41.66%; }

  .col--lg-6 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%; }

  .col--lg-7 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 58.33%;
    max-width: 58.33%; }

  .col--lg-8 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 66.66%;
    max-width: 66.66%; }

  .col--lg-9 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%; }

  .col--lg-10 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 83.33%;
    max-width: 83.33%; }

  .col--lg-11 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 91.66%;
    max-width: 91.66%; }

  .col--lg-12 {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: green;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%; }

  .m-lg-t-1 {
    margin-top: 0.1 rem; }

  .m-lg-t-2 {
    margin-top: 0.2 rem; }

  .m-lg-t-3 {
    margin-top: 0.3 rem; }

  .m-lg-t-4 {
    margin-top: 0.4 rem; }

  .m-lg-t-5 {
    margin-top: 0.5 rem; }

  .m-lg-t-6 {
    margin-top: 0.6 rem; }

  .m-lg-t-7 {
    margin-top: 0.7 rem; }

  .m-lg-t-8 {
    margin-top: 0.8 rem; }

  .m-lg-t-9 {
    margin-top: 0.9 rem; }

  .m-lg-t-10 {
    margin-top: 1 rem; }

  .m-lg-b-1 {
    margin-bottom: 0.1 rem; }

  .m-lg-b-2 {
    margin-bottom: 0.2 rem; }

  .m-lg-b-3 {
    margin-bottom: 0.3 rem; }

  .m-lg-b-4 {
    margin-bottom: 0.4 rem; }

  .m-lg-b-5 {
    margin-bottom: 0.5 rem; }

  .m-lg-b-6 {
    margin-bottom: 0.6 rem; }

  .m-lg-b-7 {
    margin-bottom: 0.7 rem; }

  .m-lg-b-8 {
    margin-bottom: 0.8 rem; }

  .m-lg-b-9 {
    margin-bottom: 0.9 rem; }

  .m-lg-b-10 {
    margin-bottom: 1 rem; }

  .m-lg-l-1 {
    margin-left: 0.1 rem; }

  .m-lg-l-2 {
    margin-left: 0.2 rem; }

  .m-lg-l-3 {
    margin-left: 0.3 rem; }

  .m-lg-l-4 {
    margin-left: 0.4 rem; }

  .m-lg-l-5 {
    margin-left: 0.5 rem; }

  .m-lg-l-6 {
    margin-left: 0.6 rem; }

  .m-lg-l-7 {
    margin-left: 0.7 rem; }

  .m-lg-l-8 {
    margin-left: 0.8 rem; }

  .m-lg-l-9 {
    margin-left: 0.9 rem; }

  .m-lg-l-10 {
    margin-left: 1 rem; }

  .m-lg-r-1 {
    margin-right: 0.1 rem; }

  .m-lg-r-2 {
    margin-right: 0.2 rem; }

  .m-lg-r-3 {
    margin-right: 0.3 rem; }

  .m-lg-r-4 {
    margin-right: 0.4 rem; }

  .m-lg-r-5 {
    margin-right: 0.5 rem; }

  .m-lg-r-6 {
    margin-right: 0.6 rem; }

  .m-lg-r-7 {
    margin-right: 0.7 rem; }

  .m-lg-r-8 {
    margin-right: 0.8 rem; }

  .m-lg-r-9 {
    margin-right: 0.9 rem; }

  .m-lg-r-10 {
    margin-right: 1 rem; } }
.m-sm-t-1 {
  margin-top: 0.1 rem; }

.m-sm-t-2 {
  margin-top: 0.2 rem; }

.m-sm-t-3 {
  margin-top: 0.3 rem; }

.m-sm-t-4 {
  margin-top: 0.4 rem; }

.m-sm-t-5 {
  margin-top: 0.5 rem; }

.m-sm-t-6 {
  margin-top: 0.6 rem; }

.m-sm-t-7 {
  margin-top: 0.7 rem; }

.m-sm-t-8 {
  margin-top: 0.8 rem; }

.m-sm-t-9 {
  margin-top: 0.9 rem; }

.m-sm-t-10 {
  margin-top: 1 rem; }

.m-sm-b-1 {
  margin-bottom: 0.1 rem; }

.m-sm-b-2 {
  margin-bottom: 0.2 rem; }

.m-sm-b-3 {
  margin-bottom: 0.3 rem; }

.m-sm-b-4 {
  margin-bottom: 0.4 rem; }

.m-sm-b-5 {
  margin-bottom: 0.5 rem; }

.m-sm-b-6 {
  margin-bottom: 0.6 rem; }

.m-sm-b-7 {
  margin-bottom: 0.7 rem; }

.m-sm-b-8 {
  margin-bottom: 0.8 rem; }

.m-sm-b-9 {
  margin-bottom: 0.9 rem; }

.m-sm-b-10 {
  margin-bottom: 1 rem; }

.m-sm-l-1 {
  margin-left: 0.1 rem; }

.m-sm-l-2 {
  margin-left: 0.2 rem; }

.m-sm-l-3 {
  margin-left: 0.3 rem; }

.m-sm-l-4 {
  margin-left: 0.4 rem; }

.m-sm-l-5 {
  margin-left: 0.5 rem; }

.m-sm-l-6 {
  margin-left: 0.6 rem; }

.m-sm-l-7 {
  margin-left: 0.7 rem; }

.m-sm-l-8 {
  margin-left: 0.8 rem; }

.m-sm-l-9 {
  margin-left: 0.9 rem; }

.m-sm-l-10 {
  margin-left: 1 rem; }

.m-sm-r-1 {
  margin-right: 0.1 rem; }

.m-sm-r-2 {
  margin-right: 0.2 rem; }

.m-sm-r-3 {
  margin-right: 0.3 rem; }

.m-sm-r-4 {
  margin-right: 0.4 rem; }

.m-sm-r-5 {
  margin-right: 0.5 rem; }

.m-sm-r-6 {
  margin-right: 0.6 rem; }

.m-sm-r-7 {
  margin-right: 0.7 rem; }

.m-sm-r-8 {
  margin-right: 0.8 rem; }

.m-sm-r-9 {
  margin-right: 0.9 rem; }

.m-sm-r-10 {
  margin-right: 1 rem; }

/*# sourceMappingURL=main.css.map */
