:root {
  --grid-gap: 10px;
}

$grid-columns: 12;

@function round-width($i) {
  $width: floor(100 * $i * 100 / $grid-columns) / 100;
  @return $width#{"%"};
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--grid-gap) * -1) 0 0 calc(var(--grid-gap) * -1);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
}

@for $i from 1 through $grid-columns {
  .col--#{$i} {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: red;
    box-sizing: border-box;
    flex-basis: round-width($i);
    max-width: round-width($i);
  }
}
