:root {
  --grid-gap: 10px;
}

$bg-primary-color: blue;
$bg-secondary-color: yellow;
$text-primary-color: white;
$text-secondary-color: black;
$grid-columns: 12;

@function round-width($i) {
  $width: floor(100 * $i * 100 / $grid-columns) / 100;
  @return $width#{"%"};
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--grid-gap) * -1) 0 0 calc(var(--grid-gap) * -1);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
}

@for $i from 1 through $grid-columns {
  .col--sm-#{$i} {
    padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
    background-clip: content-box;
    background-color: red;
    box-sizing: border-box;
    flex-basis: round-width($i);
    max-width: round-width($i);
  }
}
// margin
@for $i from 1 through 10 {
  .m-sm-t-#{$i} {
    margin-top: $i/10 + rem;
  }
}
@for $i from 1 through 10 {
  .m-sm-b-#{$i} {
    margin-bottom: ($i / 10) + rem;
  }
}
@for $i from 1 through 10 {
  .m-sm-l-#{$i} {
    margin-left: ($i / 10) + rem;
  }
}
@for $i from 1 through 10 {
  .m-sm-r-#{$i} {
    margin-right: ($i / 10) + rem;
  }
}

//padding

@for $i from 1 through 10 {
  .p-sm-t-#{$i} {
    padding-top: ($i / 10)+rem;
  }
}
@for $i from 1 through 10 {
  .p-sm-b-#{$i} {
    padding-bottom: ($i / 10)+rem;
  }
}
@for $i from 1 through 10 {
  .p-sm-l-#{$i} {
    padding-left: ($i / 10)+rem;
  }
}
@for $i from 1 through 10 {
  .p-sm-r-#{$i} {
    padding-right: ($i / 10)+rem;
  }
}

@media only screen and (min-width: 720px) {
  @for $i from 1 through $grid-columns {
    .col--md-#{$i} {
      padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
      background-clip: content-box;
      background-color: blue;
      box-sizing: border-box;
      flex-basis: round-width($i);
      max-width: round-width($i);
    }
  }
  @for $i from 1 through 10 {
    .m-md-t-#{$i} {
      margin-top: ($i / 10) + rem;
    }
  }
  @for $i from 1 through 10 {
    .m-md-b-#{$i} {
      margin-bottom: ($i / 10) + rem;
    }
  }
  @for $i from 1 through 10 {
    .m-md-l-#{$i} {
      margin-left: ($i / 10) + rem;
    }
  }
  @for $i from 1 through 10 {
    .m-md-r-#{$i} {
      margin-right: ($i / 10) + rem;
    }
  }

  //padding

  @for $i from 1 through 10 {
    .p-md-t-#{$i} {
      padding-top: ($i / 10)+rem;
    }
  }
  @for $i from 1 through 10 {
    .p-md-b-#{$i} {
      padding-bottom: ($i / 10)+rem;
    }
  }
  @for $i from 1 through 10 {
    .p-md-l-#{$i} {
      padding-left: ($i / 10)+rem;
    }
  }
  @for $i from 1 through 10 {
    .p-md-r-#{$i} {
      padding-right: ($i / 10)+rem;
    }
  }
  .d-md-none {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  @for $i from 1 through $grid-columns {
    .col--lg-#{$i} {
      padding: calc(var(--grid-gap)) 0 0 calc(var(--grid-gap));
      background-clip: content-box;
      background-color: green;
      box-sizing: border-box;
      flex-basis: round-width($i);
      max-width: round-width($i);
    }
  }
  @for $i from 1 through 10 {
    .m-lg-t-#{$i} {
      margin-top: ($i / 10) + rem;
    }
  }
  @for $i from 1 through 10 {
    .m-lg-b-#{$i} {
      margin-bottom: ($i / 10) + rem;
    }
  }
  @for $i from 1 through 10 {
    .m-lg-l-#{$i} {
      margin-left: ($i / 10) + rem;
    }
  }
  @for $i from 1 through 10 {
    .m-lg-r-#{$i} {
      margin-right: ($i / 10) + rem;
    }
  }

  //padding

  @for $i from 1 through 10 {
    .p-lg-t-#{$i} {
      padding-top: ($i / 10)+rem;
    }
  }
  @for $i from 1 through 10 {
    .p-lg-b-#{$i} {
      padding-bottom: ($i / 10)+rem;
    }
  }
  @for $i from 1 through 10 {
    .p-lg-l-#{$i} {
      padding-left: ($i / 10)+rem;
    }
  }
  @for $i from 1 through 10 {
    .p-lg-r-#{$i} {
      padding-right: ($i / 10)+rem;
    }
  }
  .d-lg-none {
    display: none;
  }
}


// DISPLAY FLOAT
.d-float {
  display: float;
}

.float-left {
  float:left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

// positioning

.pos-relative {
  position: relative;
}

.pos-static {
  position: static;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.d-flex {
  display: flex;
}

.d-hidden {
  display: hidden;
}

.d-sm-none {
  display: none;
}

.text-v-align-top {
  vertical-align: top;
}

.text-v-align-bottom {
  vertical-align: bottom;
}

.text-v-align-center {
  vertical-align: center;
}

.text-h-align-left {
  text-align: left;
}

.text-h-align-right {
  text-align: right;
}

.text-h-align-center {
  text-align: center;
}

.bg-primary-color {
  background-color: $bg-primary-color;
}

.bg-secondary-color {
  background-color: $bg-secondary-color;
}

.text-primary-color{
  color: $text-primary-color;
} 

.text-secondary-color{
  color: $text-secondary-color;
} 

.text-size-xsmall {
  font-size: 10px;
}

.text-size-small {
  font-size: 12px;
}

.text-size-medium {
  font-size: 14px;
}

.text-size-large {
  font-size: 16px;
}

.text-size-xlarge {
  font-size: 18px;
}

.text-size-xxlarge {
  font-size: 20px;
}





.text-weight-b {
  font-weight: bold;
}

.text-weight-m {
  font-weight: medium;
}

.text-weight-n {
  font-weight: normal;
}

@for $i from 1 through 10 {
  .b-t-#{$i}{
    border-top: ($i /10)+rem;
  }
  .b-b-#{$i}{
    border-bottom: ($i /10)+rem;
  }
  .b-l-#{$i}{
    border-left: ($i /10)+rem;
  }
  .b-r-#{$i}{
    border-right: ($i /10)+rem;
  }
}


@for $i from 1 through 10 {
  .border-radius-#{$i}{
    border-radius: $i/10+rem;
  }
}

.box-to-circle {
  border-radius: 50%;
}